<button  class="back-btn">
  <i class="fa-solid fa-chevron-left"></i> <a routerLink="/dashboard" routerLinkActive="active">Go back</a>
</button>
<section>
	<h1>Profile Information</h1>
	<div class="container">
		<div class="image">
			<div>
				<img src="" alt="">
			</div>
			<div class="name">
				<h1>Hazel Jane B. Guno</h1>
				<p>gunohazeljanegmail.com</p>
			</div>
		</div>
		<div class="center">
			<div class="one">
				<div class="card">
					<label for="">Full Name</label>
					<input type="text" placeholder="Hazel Jane B. Guno">	
				</div>
				<div class="card">
					<label for="">Gender</label>
					<select name="" id="">
					<option value="">FEMALE</option>
					</select>
				</div>
				<div class="card">
					<label for="">Date of Birth</label>
					<input type="text" placeholder="02 - 19 - 2003">
				</div>
			</div>
			<div class="one">
				<div class="card">
		<label for="">Home Address</label>
		<input type="text" placeholder="Formon, Bongabong, Oriental Mindoro">	
		</div>
		<div class="card">
				<label for="">Contact Number</label>
				<input type="text" placeholder="09925825861">
		</div>
		<div class="card">
			<label for="">LRN</label>
			<input type="text" placeholder="00000000000">
		</div>
			</div>
		
		</div>
		<div class="parent_info">
			<h1><span>Parent/Guardian Information</span></h1>
			<div class="center">
				<div class="one">
				<div class="card">
					<label for="">Full Name</label>
					<input type="text" placeholder="Jaime A. Guno">	
				</div>
				<div class="card">
					<label for="">Relationship</label>
					<input type="text" placeholder="Father">	
				</div>
			</div>
			<div class="one">
				<div class="card">
					<label for="">Contact Number</label>
					<input type="text" placeholder="09616586802">	
				</div>
				<div class="card">
					<label for="">Occupation</label>
					<input type="text" placeholder="Businessman">	
				</div>
			</div>
			</div>
			
		</div>
	</div>
</section>
