<section>
		<div class="img">
      <div class="imglogo"></div>
    </div>
    <div class="location">
      <h3><span>
        BANSUD INSTITUTE, INC.
      </span>
      <br>
      </h3><h4>Poblacion, Bansud, Oriental Mindoro</h4>
    </div>
    <div class="profile-picture">
    	<img src="" alt="">
    	<h1>Student Profile Information</h1>
    </div>
    <div class="student-status">
    	<div class="status">
    		<h3>Student Status</h3>
    		<div class="btn">
    			<button>Freshmen</button>
    			<button>Transferee</button>
    			<button>Degree Holder</button>
    		</div>    	
    		<br>
    		<div class="major-selection">
    			<h3>Major Selection</h3>
    			<select>
    				<option value="">Select Major</option>
    			</select>
    		</div>
    	</div>
    	<div class="status">
    		<h3>Course Selection</h3>
    		<select>
    			<option value="">Select Strand</option>
    		</select>
   		 </div>

    </div>
    	
    <div class="personal-info">
    	<h1>Student Personal Information</h1>
    	<img src="" alt="">
    </div>
    <form>
    	<div class="fill-info">
    	<div class="fill">
    		<div class="info">
    			<label for="">Last Name</label>
    			<input type="text" placeholder="Enter Last Name" required>
   			</div>
   			<div class="info">
    			<label for="">First Name</label>
    			<input type="text" placeholder="Enter First Name" required>
    		</div>	
    	</div>
    	<div class="fill">
    		<div class="info">
    			<label for="">Middle Name</label>
    			<input type="text" placeholder="Enter Middle Name" required>
    		</div>
    		<div class="info">
    			<label for="">Address Selection</label>
    			<input type="text" placeholder="Address Selection" required>
    		</div>	
    	</div>	
    	<div class="fill">
    		<div class="info">
    			<label for="">Contact Information</label>
    			<input type="text" required>
    		</div>
    		<div class="info">
    			<label for="">Birth Information</label>
    			<input type="text" required>
    		</div>	
    	</div>
     	<div class="fill">
    		<div class="info">
    			<label for="">Gender</label>
    			<div class="gender">
    				<button>Male</button>
    				<button>Female</button>
    			</div>
    		</div>
    		<div class="info">
    			<label for="">Religion</label>
    			<input type="text" placeholder="Enter Religion" required>
    		</div>	
    	</div>
    	<div class="fill">
    		<div class="info">
    			<label for="">Nationality</label>
    			<input type="text">
    		</div>
    		<div class="info">
    			<label for="">Civil Status</label>
    			<select>
    				<option value="">Status</option>
    				<option value="">Single</option>
    				<option value="">Married</option>
    			</select>
    		</div>	
    	</div>
    	<div class="submit">
    		<button type="submit">Save Personal Info</button>
    	</div>
    </div>


    </form>


</section>
