<button  class="back-btn">
  <i class="fa-solid fa-chevron-left"></i> <a routerLink="/dashboard" routerLinkActive="active">Go back</a>
</button>

<section>
  <div class="overall">
    <div class="left"><h1>Attendance Overview</h1>
    <div class="container">
    
    <div class="one">
      <div class="box green">
        <i class="fa-solid fa-user-check"></i>
        <h2>92%</h2>
        <p>present</p>
      </div>
    <div class="box yellow">
      <i class="fa-solid fa-clock"></i>
      <h2>6%</h2>
      <p>Late</p>
    </div>
    <div class="box red">
      <i class="fa-solid fa-exclamation"></i>
      <h2>2%</h2>
      <p>absent</p>
    </div>
    </div>
    
  </div>
 <div class="monthly-overview">
  <h2>Monthly overview</h2>
  <div class="two">
    <p>Attendance Rate</p>
  <p>90%</p>
  </div>
  
   <div class="center">
     <div class="rating"></div>
   </div>
   <p>18 days present out of 20 school days</p>
 </div>  
    </div>
    
 <div class="Recent">
   <p>Recent Attendance</p>
   <div class="all">
     <div class="card">
    <div class="year">
      <h3>Febraury 27, 2024</h3>
      <span>7:30 AM</span>  
    </div>
    <div class="attendance">
      <p>Present</p>
    </div>
   </div>
   <div class="card">
    <div class="year">
      <h3>Febraury 28, 2024</h3>
      <span>7:25 AM</span>  
    </div>
    <div class="attendance">
      <p>Present</p>
    </div>
   </div>
   <div class="card">
    <div class="year">
      <h3>Febraury 27, 2024</h3>
      <span>7:30 AM</span>  
    </div>
    <div class="attendance late">
      <p>Late</p>
    </div>
   </div>
   <div class="card">
    <div class="year">
      <h3>Febraury 27, 2024</h3>
      <span>7:30 AM</span>  
    </div>
    <div class="attendance">
      <p>Present</p>
    </div>
   </div>
   </div>
  </div>
</div>
  
</section>
