<section>
	<div class="overall">
	<div class="left">
		<h1>Welcome to
	<br> <span>Bansud Institute</span></h1>
	<h2>Student Portal</h2>
	<form>
		<div class="card">
			<label for="">User Name</label>
			<input type="text" required>
		</div>
		
		<div class="card">
			<label for="">Email</label>
			<input type="text" required>
		</div>
		
		<div class="card">
			<label for="">Password</label>
			<input type="password" required>
		</div>
		<div class="btn">
			<button >Register</button>
			<p>Already have an account? <span>Login here</span></p>
		</div>
	</form>
	
	</div>
	<div class="img1">
		
	</div>
	</div>
	
</section>
