<button  class="back-btn">
  <i class="fa-solid fa-chevron-left"></i> <a routerLink="/dashboard" routerLinkActive="active">Go back</a>
</button>

<section>
  <h1>NOTIFICATION</h1>

  <div class="card">
    <div class="one">
      <div class="paragraph">
        <h3>Exam Schedules -</h3>
        <p>Final Exam of science will be held on March 15, 2025.</p>
      </div>
      <div class="paragraph">
        <p>02/22/25</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="one">
      <div class="paragraph">
        <h3>WITH HONORS -</h3>
        <p>Congratulations, You made it to the Honor with an average of 92.3.</p>
      </div>
      <div class="paragraph">
        <p>02/22/25</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="one">
      <div class="paragraph">
        <h3>Class Cancellations -</h3>
        <p>Your 10:30 AM Science class has been canceled today.</p>
      </div>
      <div class="paragraph">
        <p>02/22/25</p>
      </div>
    </div>
  </div>
</section>
